<footer class="footer" id="contact">

    <div class="footer-top" data-section>
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="/images/logo.png" width="50" height="50" alt="Cryptex logo">
            MINEHUB
          </a>

          <h2 class="footer-title">Let's talk! 🤙</h2>

          <a href="https://t.me/minehuboffical" class="footer-contact-link" target="_blank">Telegram Group</a>

          <a href="mailto:hello.minehub@gmail.com" class="footer-contact-link">hello.minehub@gmail.com</a>

          <address class="footer-contact-link">
            Soon
          </address>

        </div>

      

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Services</p>
          </li>

          <li>
            <a href="#" class="footer-link">Buy Crypto</a>
          </li>

          <li>
            <a href="#" class="footer-link">Mine Crypto</a>
          </li>

          <li>
            <a href="#" class="footer-link">1 year Contracts</a>
          </li>

          <li>
            <a href="#" class="footer-link">contract Cancelletion</a>
          </li>

          <li>
            <a href="#" class="footer-link">Referral Program</a>
          </li>

          <li>
            <a href="#" class="footer-link">Instant Withdraw</a>
          </li>

        </ul>

       

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">About Us</p>
          </li>

          <li>
            <a href="#" class="footer-link">About MINEHUB</a>
          </li>

          <li>
            <a href="#" class="footer-link">Secure and Safe </a>
          </li>

          <li>
            <a href="#" class="footer-link">Legit Company</a>
          </li>

          <li>
            <a href="#" class="footer-link">Mining Contacts</a>
          </li>

          

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; <%= new Date().getFullYear() %> MINEHUB All Rights Reserved by <a href="https://t.me/minehuboffical" class="copyright-link" target="_blank">MINEHUB</a>
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>

  </footer>





  <!-- 
    - custom js link
  -->
  <script src="/js/home.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>