<%- include('partials/header-user') %>
<style>
    .result-container {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
}

.result-text {
  font-weight: bold;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.result-text span {
  display: block;
  margin-bottom: 10px;
}

.container1 {
  width: 400px;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
              0 5px 12px -2px rgba(0, 0, 0, 0.1),
              0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

.container1 .title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.container1 form input[type="radio"] {
  display: none;
}

.container1 form .category {
  margin-top: 10px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.category label {
  height: 145px;
  padding: 20px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

#visa:checked ~ .category .visaMethod,
#mastercard:checked ~ .category .mastercardMethod,
#paypal:checked ~ .category .paypalMethod,
#AMEX:checked ~ .category .amexMethod,
#stripe:checked ~ .category .stripeMethod {
  box-shadow: 0px 0px 0px 1px #6064b6;
}

#visa:checked ~ .category .visaMethod .check,
#mastercard:checked ~ .category .mastercardMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#AMEX:checked ~ .category .amexMethod .check,
#stripe:checked ~ .category .stripeMethod .check {
  display: block;
}

label .imgName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.imgName span {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 72%;
  transform: translateY(-72%);
}

.imgName .imgContainer {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  transform: translateY(-35%);
}

img {
  width: 50px;
  height: auto;
}

.visa img {
  width: 80px;
}

.mastercard img {
  width: 65px;
}

.paypal img {
  width: 80px;
}

.AMEX img {
  width: 50px;
}

.stripe img {
  width: 80px;
}

.check {
  display: none;
  position: absolute;
  top: -4px;
  right: -4px;
}

.check i {
  font-size: 18px;
}

</style>

<div class="container mt-5">
    <div class="container1">
      <h2 class="card-title text-center">Buy HashRate</h2>
      <div class="form-group">
        <small class="text-danger" id="hashrateError" style="display: none;">Limit exceeded (max 500)</small>
        <small class="text-danger" id="hashrateError2" style="display: none;">Please enter a hash amount</small>
      </div>
  
      <div class="title">
        <h4>Select a <span style="color: #6064b6">Payment</span> method</h4>
      </div>
  
      <form id="buyHashrateForm" method="post" action="">
        <p class="text-muted">TH1 = $12</p>
        <label for="hashrateAmount">Hashrate Amount</label>
        <input type="number" step="any" class="form-control" id="hashrateAmount" name="hashrateAmount" placeholder="Enter Hashrate Amount" required>
  
        <label for="amount"> Amount $:</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount to pay" readonly>
        
        <input type="radio" name="payment" id="stripe" value="stripe">
        <input type="radio" name="payment" id="visa" value="visa">
        <input type="radio" name="payment" id="mastercard" value="mastercard">
        <input type="radio" name="payment" id="paypal" value="paypal">
        <input type="radio" name="payment" id="AMEX" value="amex">
        
        
        <div class="category">
            <label for="stripe" class="stripeMethod">
                <div class="imgName">
                  <div class="imgContainer stripe">
                    <img src="/images/visa.png" alt="Stripe">
                  </div>
                  <span class="name">Visa / Mastercard</span>
                </div>
                <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
              </label>
              <label for="paypal" class="paypalMethod">
                <div class="imgName">
                  <div class="imgContainer paypal">
                    <img src="https://i.ibb.co/KVF3mr1/paypal.png" alt="Paypal">
                  </div>
                  <span class="name">Paypal</span>
                </div>
                <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
              </label>
          <label for="mastercard" class="mastercardMethod">
            <div class="imgName">
              <div class="imgContainer mastercard">
                <img src="/images/coin-1.svg" width="24" height="20" alt="bitcoin logo">
              </div>
              <span class="name">BITCOIN</span>
            </div>
            <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
          </label>
          
          <label for="AMEX" class="amexMethod">
            <div class="imgName">
              <div class="imgContainer AMEX">
                <img src="/images/coin-3.svg" width="24" height="24" alt="bitcoin logo">
              </div>
              <span class="name">USDT TRC-20</span>
            </div>
            <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
          </label>
          
          <label for="visa" class="visaMethod">
            <div class="imgName">
              <div class="imgContainer visa">
                <img src="https://logospng.org/download/wise/wise-1536.png" alt="Visa Card">
              </div>
              <span class="name">WISE</span>
            </div>
            <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
          </label>

        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Buy Hashrate</button>
        </div>
      </form>
    </div>
  </div>
  



<script>
    document.addEventListener('DOMContentLoaded', function () {
  const form = document.getElementById('buyHashrateForm');
  const radios = document.querySelectorAll('input[name="payment"]');
  const amountInput = document.getElementById('amount');
  const hashrateAmountInput = document.getElementById('hashrateAmount');
  const errorHashrate = document.getElementById('hashrateError');
  const errorHashrate2 = document.getElementById('hashrateError2');

  if (!form || !radios || !amountInput || !hashrateAmountInput) {
    console.error('One or more elements are missing.');
    return;
  }

  function calculatePrice() {
    const hashrateAmount = parseFloat(hashrateAmountInput.value);
    let price = 0;

    if (!isNaN(hashrateAmount) && hashrateAmount >= 1 && hashrateAmount <= 500) {
      price = hashrateAmount * 12;
      errorHashrate.style.display = 'none';
      errorHashrate2.style.display = 'none';
    } else if (!hashrateAmountInput.value) {
      errorHashrate2.style.display = 'block';
      errorHashrate.style.display = 'none';
    } else {
      errorHashrate.style.display = 'block';
      errorHashrate2.style.display = 'none';
    }

    amountInput.value = price.toFixed(2);
  }

  hashrateAmountInput.addEventListener('change', calculatePrice);
  hashrateAmountInput.addEventListener('input', calculatePrice);

  radios.forEach(radio => {
    radio.addEventListener('change', function () {
      const selectedPaymentMethod = radio.value;

      switch (selectedPaymentMethod) {
        case 'paypal':
          form.action = '/paypalRoute';
          break;
        case 'visa':
          form.action = '/wise';
          break;
        case 'mastercard':
          form.action = '/bitcoin';
          break;
        case 'amex':
          form.action = '/usdt';
          break;
        case 'stripe':
          form.action = '/visa';
          break;
        default:
          form.action = '';
      }
    });
  });

  form.addEventListener('submit', function (event) {
    const selectedPayment = document.querySelector('input[name="payment"]:checked');
    if (!selectedPayment) {
      event.preventDefault();
      alert('Please select a payment method.');
    }
  });
});

</script>



<%- include('partials/footer-user') %>